@import "../../style/vars.scss";

.userContainer {
  .changePassword,
  .close,
  .logOutBtn {
    padding: 10px 0;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 1px solid rgb(255, 112, 32);
  }
  .changePassword {
    width: 100%;
  }
  .buttons {
    @include flex(flex, row, space-between, center);
    width: 90%;
    button {
      width: 45%;
    }
  }
}
